* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

#numHolder{
   background-color: rgb(77, 28, 110);
   height: 100px;
   color: aliceblue;
   line-height: 100px;
}

#flexContforDie {
   position: relative;
   bottom: 700px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   transform: scale(0.3);
}

#dieHolder {
   width: 300px;
   height: 300px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

#die {
   height: 190px;
   width: 190px;
}

.faceRelDiv{
   position: relative;
   height: 190px;
   width: 190px;
   transform-style: preserve-3d;
   transition: transform 1.5s ease-out;
}
.goto1{
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.goto2{
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.goto3{
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.goto4{
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.goto5{
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.goto6{
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.goto7{
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.goto8{
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.goto9{
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.goto10{
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.goto11{
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.goto12{
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}

.face {
   height: 190px;
   width: 190px;
   background-color: rgb(255, 255, 255);
   position: absolute;
   border: 1px solid black;
   top: 0;
   left: 0;
}

.dotRelDiv{
   position: absolute;
   height: 100%;
   width: 100%;
}

.face .dots-1,
.face .dots-2,
.face .dots-3 {
   top: 40px;
}
.face .dots-4,
.face .dots-5,
.face .dots-6 {
   top: 80px;
}
.face .dots-7,
.face .dots-8,
.face .dots-9 {
   top: 120px;
}
.face .dots-1,
.face .dots-4,
.face .dots-7 {
   left: 40px;
}
.face .dots-2,
.face .dots-5,
.face .dots-8 {
   left: 80px;
}
.face .dots-3,
.face .dots-6,
.face .dots-9 {
   left: 120px;
}

.dots {
   position: absolute;
   background-color: black;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   display: none;
}

#face-1 .dots-5,
#face-2 .dots-1,
#face-2 .dots-9,
#face-3 .dots-1,
#face-3 .dots-5,
#face-3 .dots-9,
#face-4 .dots-1,
#face-4 .dots-3,
#face-4 .dots-7,
#face-4 .dots-9,
#face-5 .dots-1,
#face-5 .dots-3,
#face-5 .dots-5,
#face-5 .dots-7,
#face-5 .dots-9,
#face-6 .dots-1,
#face-6 .dots-4,
#face-6 .dots-7,
#face-6 .dots-3,
#face-6 .dots-6,
#face-6 .dots-9 {
   display: block;
}

#face-1{
   transform: rotate3d(0,0,0,90deg) translateZ(95px); 
}
#face-2{
   transform: rotate3d(-1,0,0,90deg) translateZ(95px); 
}
#face-3{
   transform: rotate3d(0,1,0,90deg) translateZ(95px);   
}
#face-4{
   transform: rotate3d(0,-1,0,90deg) translateZ(95px); 
}
#face-5{
   transform: rotate3d(1,0,0,90deg) translateZ(95px); 
}
#face-6{
   transform: rotate3d(1,0,0,180deg) translateZ(95px);   
}
